In [1]:
class Car:
    pass

In [2]:
audi= Car()

In [3]:
audi.milage=10
audi.year=2006
audi.make=345
audi.model="abc"

In [4]:
audi.make

345

In [5]:
audi.milage

10

In [6]:
audi.model

'abc'

In [7]:
nano= Car()

In [8]:
nano.milage=67
nano.year=2007
nano.make=67
nano.model="xyz"

In [9]:
class Car:
    def __init__(self,milage,year,make,model):
        self.milage=milage
        self.year=year
        self.make=make
        self.model=model

In [12]:
nano1=Car(10,2009,45,"jbdjs")
nano2=Car(10,2009,45,"jbdjs")
nano3=Car(10,2009,45,"jbdjs")
nano4=Car(10,2009,45,"jbdjs")
nano5=Car(10,2009,45,"jbdjs")
nano6=Car(10,2009,45,"jbdjs")

In [44]:
class Car:
    def __init__(a,m,y,ma,mo):
        a.milage=m
        a.year=y
        a.make=ma
        a.model=mo
        
    def age(a,current_year):
        return current_year-a.year
    
    def milage1(self):
        return("Print a milage of the call", self.milage)
    
    def __str__(c):
        return "this is from class i have created"

In [45]:
nano23=Car(10,2009,45,"bhjagudbs")

In [46]:
nano23.age(2020)

11

In [39]:
nano23.milage1()

('Print a milage of the call', 10)

In [47]:
print(nano23)

this is from class i have created

In [51]:
class Person:
    
    def __init__(self,first_name,last_name,age):
        self.first_name=first_name
        self.last_name=last_name
        self.age=age
        
    def __str__(self):
        return " this is the person class"

In [52]:
person=Person("imran","a",27)

In [53]:
print(person)

 this is the person class

In [54]:
person.age

27

In [55]:
person.first_name

'imran'

In [56]:
class Student:
    
    def __init__(self,name,rollno,joining_date,current_topic):
        self.name=name
        self.rollno=rollno
        self.joining_date=joining_date
        self.current_topic=current_topic
        
        
    def cur_topic(self):
        print("current topic dicussed in class is ", self.current_topic)
    
    def str_rollno(self):
        
        try:
            if type(self.rollno)==str:
                print("do nothing")
            
            else:
                return str(self.rollno)
        except Exception as e:
            
            print("this is my error message", e)
            
    def duration(self,current_date):
        
        print("durration of student in my class is ", current_date - self.joining_date)
        
    
    def __str__(self):
        
        return " this is student class"

In [63]:
s1= Student("imran",'45',2007,"data science")

In [58]:
print(s1)

 this is student class

In [60]:
s1.duration(2008)

durration of student in my class is  1

In [64]:
s1.str_rollno()

do nothing

In [62]:
s1.cur_topic()

current topic dicussed in class is  data science

In [70]:
class calculator:
    def  __init__(self,a,b):
        self.a=a
        self.b=b
    
    def add(self):
        return self.a+self.b

    def sub(self):
        return self.a-self.b
    
    def mul(self):
        return self.a*self.b
    
    def div(self):
        return self.a/self.b

In [71]:
c1=calculator(3,4)

In [72]:
c1.add()

7

In [ ]:
class Calculator:
    def __init__(self,a,b):
        self.a=a
        self.b=b
        
    def sum(self):
        return self.a+self.b
    
    def subt(self):
        return self.a-self.b
    
    def mul(self):
        return self.a*self.b
    def div(self):
        return self.a/self.b
    
    
c=Calculator(5,6)
print(c.sum())
print(c.subt())
print(c.mul())
print(c.div())

In [ ]:
class calculater():

  def __init(self,a,b):
    self.a = a
    self.b = b

  def multiply():
    return self.a * self.b

  def substract(self,a,b):
    return self.a - self.b

  def division(self,a,b):
    return self.a / self.b

  def addition(self,a,b):
    return self.a + self.b

  def __str__():
    reutn "its calling"

s1 = claculater(2,3)

print(s1.multiply())

print(s1.substract())

print(s1.division())

print(s1.addition())

In [73]:
#Default Constructor

class Student:
    
    def who(self):
        print("iam a student")

In [74]:
s1=Student()

In [75]:
s1.who()

iam a student

In [76]:
#non parametized constructor
class Company:
    
    def __init__(self):
        self.name="ineuron"
        self.address="Bnagalore"
        
        
    def show(self):
        print("name",self.name,"address",self.address)

In [77]:
cmp=Company()

In [78]:
cmp.show()

name ineuron address Bnagalore

In [79]:
#parametized constructor

In [93]:
class Pub_mod:
    
    def __init__(self,name,age):
        
        self._name=name
        self.age=age
        
    def age1(self):
        print("age1",self.age)

In [94]:
c1=Pub_mod("imran",27)

In [95]:
c1.age1()

age1 27

In [99]:
class Rectangle:
    #__length = 0
    #__breadth=0
    
    def __init__(self):
        self.length=5
        self.__breadth=3
        
        print(self.length)
        print(self.__breadth)

In [100]:
r1=Rectangle()

5
3

In [101]:
r1.length

5

In [106]:
class Rectangle:
    #__length = 0
    #__breadth=0
    
    def __init__(self):
        self.length=5
        self.__breadth=3
        
        print(self.length)
        print(self.__breadth)
        
    def show(self):
        print("this is printing private varaivle", self.__breadth)
        

        
rect=Rectangle()
print(rect.length)
print(rect.__breadth)

5
3
5

AttributeError: 'Rectangle' object has no attribute '__breadth'

In [105]:
rect.show()

this is printing private varaivle 3

In [107]:
rect._Rectangle__breadth

3

In [109]:
class test:
    
    def __init__(self):
        self.a=6
        self._b=5
        self.__c=8
        
        print("public:",self.a,"protected:",self._b,"private:",self.__c)

In [110]:
t1=test()

public: 6 protected: 5 private: 8

In [111]:
t1.a

6

In [140]:
t1._test__c

8

In [113]:
t1.c

AttributeError: 'test' object has no attribute 'c'

In [117]:
class test:
    
    def __init__(self):
        self.a=6
        self._b=5
        self.__c=8
        
        print("public:",self.a,"protected:",self._b,"private:",self.__c)
        
    def show(self):
        
        print("protected:",self._b ,"private:",self.__c)

In [119]:
t2=test()

public: 6 protected: 5 private: 8

In [120]:
t2.show()

protected: 5 private: 8

In [129]:
t2._test__c

8

In [137]:
t2.__c

AttributeError: 'test' object has no attribute '__c'

In [132]:
t2._b

5

In [133]:
t3=test()

public: 6 protected: 5 private: 8

In [136]:
t3._b

5

In [141]:
class Tyres:
    def __init__(self,branch,belted_bias,opt_pressure):
        self.branch=branch
        self.belted_bias=belted_bias
        self.opt_pressure=opt_pressure
        
    def __str__(self):
        return ("Tyres: \n \tBranch" + self.branch +
               "\n \t Belted-bias" + str(self.belted_bias) +
               "\n \t optimal pressure" + str(self.opt_pressure))
    
    
    
    
class Engine:
    def __init__(self,fuel_type,noise_level):
        self.fuel_type=fuel_type
        self.noise_level=noise_level
        
    def __str__(self):
        return ("Engine: \n \tFuel type" + self.fuel_type +
               "\n \t Noise level:" + str(self.noise_level))
    

    
class Body:
    
    def __init__(self,size):
        self.size=size
        
    def __str__(self):
        return ("Body:\n \t size" + self.size)
    


    
class Car:
    
    def __init__(self,tyres,engine,body):
        
        self.tyres=tyres
        self.engine=engine
        self.body=body
        
    def __str__(self):
        return (str(self.tyres) + "\n" + str(self.engine) + "\n" + str(self.body))

In [142]:
t=Tyres('banaglore',True,2.0)
e=Engine('Desel',3)
b=Body('Medium')

In [143]:
c=Car(t,e,b)
print(c)

Tyres:
 	Branchbanaglore
 	 Belted-biasTrue
 	 optimal pressure2.0
Engine:
 	Fuel typeDesel
 	 Noise level:3
Body:
 	 sizeMedium

In [144]:
print(t)

Tyres:
 	Branchbanaglore
 	 Belted-biasTrue
 	 optimal pressure2.0

In [145]:
t.branch

'banaglore'

In [146]:
dir(print)

['__call__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__name__',
 '__ne__',
 '__new__',
 '__qualname__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__self__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__text_signature__']

In [ ]:
imran@ineuron.ai