In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('addresses.csv')

In [ ]:
data

,id,location_id,address_1,address_2,city,state_province,postal_code,country
0,1,1,2600 Middlefield Road,NaN,Redwood City,CA,94063,US
1,2,2,24 Second Avenue,NaN,San Mateo,CA,94401,US
2,3,3,24 Second Avenue,NaN,San Mateo,CA,94403,US
3,4,4,24 Second Avenue,NaN,San Mateo,CA,94401,US
4,5,5,24 Second Avenue,NaN,San Mateo,CA,94401,US
5,6,6,800 Middle Avenue,NaN,Menlo Park,CA,94025-9881,US
6,7,7,500 Arbor Road,NaN,Menlo Park,CA,94025,US
7,8,8,800 Middle Avenue,NaN,Menlo Park,CA,94025-9881,US
8,9,9,2510 Middlefield Road,NaN,Redwood City,CA,94063,US
9,10,10,1044 Middlefield Road,NaN,Redwood City,CA,94063,US
10,11,11,2140 Euclid Avenue.,NaN,Redwood City,CA,94061,US
11,12,12,1044 Middlefield Road,2nd Floor,Redwood City,CA,94063,US
12,13,13,399 Marine Parkway.,NaN,Redwood City,CA,94065,US
13,14,14,660 Veterans Blvd.,NaN,Redwood City,CA,94063,US
14,15,15,1500 Valencia Street,NaN,San Francisco,CA,94110,US
15,16,16,1161 South Bernardo,NaN,Sunnyvale,CA,94087,US
16,17,17,409 South Spruce Avenue,NaN,South San Francisco,CA,94080,US
17,18,18,114 Fifth Avenue,NaN,Redwood City,CA,94063,US
18,19,19,19 West 39th Avenue,NaN,San Mateo,CA,94403,US
19,20,21,123 El Camino Real,NaN,Belmont,CA,94002,US
20,21,22,2013 Avenue of the fellows,Suite 100,San Francisco,CA,94103,US

In [ ]:
type(data)

pandas.core.frame.DataFrame

In [ ]:
data.head()

,id,location_id,address_1,address_2,city,state_province,postal_code,country
0,1,1,2600 Middlefield Road,NaN,Redwood City,CA,94063,US
1,2,2,24 Second Avenue,NaN,San Mateo,CA,94401,US
2,3,3,24 Second Avenue,NaN,San Mateo,CA,94403,US
3,4,4,24 Second Avenue,NaN,San Mateo,CA,94401,US
4,5,5,24 Second Avenue,NaN,San Mateo,CA,94401,US

In [ ]:
data.head(6)

,id,location_id,address_1,address_2,city,state_province,postal_code,country
0,1,1,2600 Middlefield Road,NaN,Redwood City,CA,94063,US
1,2,2,24 Second Avenue,NaN,San Mateo,CA,94401,US
2,3,3,24 Second Avenue,NaN,San Mateo,CA,94403,US
3,4,4,24 Second Avenue,NaN,San Mateo,CA,94401,US
4,5,5,24 Second Avenue,NaN,San Mateo,CA,94401,US
5,6,6,800 Middle Avenue,NaN,Menlo Park,CA,94025-9881,US

In [ ]:
data.tail()

,id,location_id,address_1,address_2,city,state_province,postal_code,country
16,17,17,409 South Spruce Avenue,NaN,South San Francisco,CA,94080,US
17,18,18,114 Fifth Avenue,NaN,Redwood City,CA,94063,US
18,19,19,19 West 39th Avenue,NaN,San Mateo,CA,94403,US
19,20,21,123 El Camino Real,NaN,Belmont,CA,94002,US
20,21,22,2013 Avenue of the fellows,Suite 100,San Francisco,CA,94103,US

In [ ]:
data.tail(7)

,id,location_id,address_1,address_2,city,state_province,postal_code,country
14,15,15,1500 Valencia Street,NaN,San Francisco,CA,94110,US
15,16,16,1161 South Bernardo,NaN,Sunnyvale,CA,94087,US
16,17,17,409 South Spruce Avenue,NaN,South San Francisco,CA,94080,US
17,18,18,114 Fifth Avenue,NaN,Redwood City,CA,94063,US
18,19,19,19 West 39th Avenue,NaN,San Mateo,CA,94403,US
19,20,21,123 El Camino Real,NaN,Belmont,CA,94002,US
20,21,22,2013 Avenue of the fellows,Suite 100,San Francisco,CA,94103,US

In [ ]:
data.columns

Index(['id', 'location_id', 'address_1', 'address_2', 'city', 'state_province',
       'postal_code', 'country'],
      dtype='object')

In [ ]:
list(data.columns)

['id',
 'location_id',
 'address_1',
 'address_2',
 'city',
 'state_province',
 'postal_code',
 'country']

In [ ]:
data.head(3)

,id,location_id,address_1,address_2,city,state_province,postal_code,country
0,1,1,2600 Middlefield Road,NaN,Redwood City,CA,94063,US
1,2,2,24 Second Avenue,NaN,San Mateo,CA,94401,US
2,3,3,24 Second Avenue,NaN,San Mateo,CA,94403,US

In [ ]:
type(data['state_province'])

pandas.core.series.Series

In [ ]:
data['state_province']

0     CA
1     CA
2     CA
3     CA
4     CA
5     CA
6     CA
7     CA
8     CA
9     CA
10    CA
11    CA
12    CA
13    CA
14    CA
15    CA
16    CA
17    CA
18    CA
19    CA
20    CA
Name: state_province, dtype: object

In [ ]:
type(data[['state_province']])

pandas.core.frame.DataFrame

In [ ]:
data[['city','location_id']]

                   city  location_id
0          Redwood City            1
1             San Mateo            2
2             San Mateo            3
3             San Mateo            4
4             San Mateo            5
5            Menlo Park            6
6            Menlo Park            7
7            Menlo Park            8
8          Redwood City            9
9          Redwood City           10
10         Redwood City           11
11         Redwood City           12
12         Redwood City           13
13         Redwood City           14
14        San Francisco           15
15            Sunnyvale           16
16  South San Francisco           17
17         Redwood City           18
18            San Mateo           19
19              Belmont           21
20        San Francisco           22

In [ ]:
data[['id' , 'address_1']]

    id                   address_1
0    1       2600 Middlefield Road
1    2            24 Second Avenue
2    3            24 Second Avenue
3    4            24 Second Avenue
4    5            24 Second Avenue
5    6           800 Middle Avenue
6    7              500 Arbor Road
7    8           800 Middle Avenue
8    9       2510 Middlefield Road
9   10       1044 Middlefield Road
10  11         2140 Euclid Avenue.
11  12       1044 Middlefield Road
12  13         399 Marine Parkway.
13  14          660 Veterans Blvd.
14  15        1500 Valencia Street
15  16         1161 South Bernardo
16  17     409 South Spruce Avenue
17  18            114 Fifth Avenue
18  19         19 West 39th Avenue
19  20          123 El Camino Real
20  21  2013 Avenue of the fellows

In [ ]:
pd.read_excel('airline.xls')

    YEAR       Y      W       R      L      K
0   1948   1.214  0.243  0.1454  1.415  0.612
1   1949   1.354  0.260  0.2181  1.384  0.559
2   1950   1.569  0.278  0.3157  1.388  0.573
3   1951   1.948  0.297  0.3940  1.550  0.564
4   1952   2.265  0.310  0.3559  1.802  0.574
5   1953   2.731  0.322  0.3593  1.926  0.711
6   1954   3.025  0.335  0.4025  1.964  0.776
7   1955   3.562  0.350  0.3961  2.116  0.827
8   1956   3.979  0.361  0.3822  2.435  0.800
9   1957   4.420  0.379  0.3045  2.707  0.921
10  1958   4.563  0.391  0.3284  2.706  1.067
11  1959   5.385  0.426  0.3856  2.846  1.083
12  1960   5.554  0.441  0.3193  3.089  1.481
13  1961   5.465  0.460  0.3079  3.122  1.736
14  1962   5.825  0.485  0.3783  3.184  1.926
15  1963   6.876  0.506  0.4180  3.263  2.041
16  1964   7.823  0.538  0.5163  3.412  1.997
17  1965   9.120  0.564  0.5879  3.623  2.257
18  1966  10.512  0.586  0.5369  4.074  2.742
19  1967  13.020  0.622  0.4443  4.710  3.564
20  1968  15.261  0.666  0.3052  5.217  4.767
21  1969  16.313  0.731  0.2332  5.569  6.511
22  1970  16.002  0.831  0.1883  5.495  7.627
23  1971  15.876  0.906  0.2023  5.334  8.673
24  1972  16.662  1.000  0.2506  5.345  8.331
25  1973  17.014  1.056  0.2668  5.662  8.557
26  1974  19.305  1.131  0.2664  5.729  9.508
27  1975  18.721  1.247  0.2301  5.722  9.062
28  1976  19.250  1.375  0.3452  5.762  8.262
29  1977  20.647  1.544  0.4508  5.877  7.474
30  1978  22.726  1.703  0.5877  6.108  7.104
31  1979  23.619  1.779  0.5346  6.852  6.874

In [ ]:
pd.read_excel("airline1.xls")

    YEAR       Y      W       R      L      K
0   1948   1.214  0.243  0.1454  1.415  0.612
1   1949   1.354  0.260  0.2181  1.384  0.559
2   1950   1.569  0.278  0.3157  1.388  0.573
3   1951   1.948  0.297  0.3940  1.550  0.564
4   1952   2.265  0.310  0.3559  1.802  0.574
5   1953   2.731  0.322  0.3593  1.926  0.711
6   1954   3.025  0.335  0.4025  1.964  0.776
7   1955   3.562  0.350  0.3961  2.116  0.827
8   1956   3.979  0.361  0.3822  2.435  0.800
9   1957   4.420  0.379  0.3045  2.707  0.921
10  1958   4.563  0.391  0.3284  2.706  1.067
11  1959   5.385  0.426  0.3856  2.846  1.083
12  1960   5.554  0.441  0.3193  3.089  1.481
13  1961   5.465  0.460  0.3079  3.122  1.736
14  1962   5.825  0.485  0.3783  3.184  1.926
15  1963   6.876  0.506  0.4180  3.263  2.041
16  1964   7.823  0.538  0.5163  3.412  1.997
17  1965   9.120  0.564  0.5879  3.623  2.257
18  1966  10.512  0.586  0.5369  4.074  2.742
19  1967  13.020  0.622  0.4443  4.710  3.564
20  1968  15.261  0.666  0.3052  5.217  4.767
21  1969  16.313  0.731  0.2332  5.569  6.511
22  1970  16.002  0.831  0.1883  5.495  7.627
23  1971  15.876  0.906  0.2023  5.334  8.673
24  1972  16.662  1.000  0.2506  5.345  8.331
25  1973  17.014  1.056  0.2668  5.662  8.557
26  1974  19.305  1.131  0.2664  5.729  9.508
27  1975  18.721  1.247  0.2301  5.722  9.062
28  1976  19.250  1.375  0.3452  5.762  8.262
29  1977  20.647  1.544  0.4508  5.877  7.474
30  1978  22.726  1.703  0.5877  6.108  7.104
31  1979  23.619  1.779  0.5346  6.852  6.874

In [ ]:
pd.read_excel("airline1.xls" , sheet_name = "Sheet2")

   YEAR      Y      W       R      L      K
0  1948  1.214  0.243  0.1454  1.415  0.612
1  1949  1.354  0.260  0.2181  1.384  0.559
2  1950  1.569  0.278  0.3157  1.388  0.573
3  1951  1.948  0.297  0.3940  1.550  0.564
4  1952  2.265  0.310  0.3559  1.802  0.574
5  1953  2.731  0.322  0.3593  1.926  0.711
6  1954  3.025  0.335  0.4025  1.964  0.776
7  1955  3.562  0.350  0.3961  2.116  0.827
8  1956  3.979  0.361  0.3822  2.435  0.800

In [ ]:
data1 = pd.read_excel("airline1.xls" , sheet_name = "Sheet3" , header=None , names=['a', 'b' , 'c','d','e','f'])

In [ ]:
data1

       a       b      c       d      e      f
0   1960   5.554  0.441  0.3193  3.089  1.481
1   1961   5.465  0.460  0.3079  3.122  1.736
2   1962   5.825  0.485  0.3783  3.184  1.926
3   1963   6.876  0.506  0.4180  3.263  2.041
4   1964   7.823  0.538  0.5163  3.412  1.997
5   1965   9.120  0.564  0.5879  3.623  2.257
6   1966  10.512  0.586  0.5369  4.074  2.742
7   1967  13.020  0.622  0.4443  4.710  3.564
8   1968  15.261  0.666  0.3052  5.217  4.767
9   1969  16.313  0.731  0.2332  5.569  6.511
10  1970  16.002  0.831  0.1883  5.495  7.627
11  1971  15.876  0.906  0.2023  5.334  8.673
12  1972  16.662  1.000  0.2506  5.345  8.331
13  1973  17.014  1.056  0.2668  5.662  8.557
14  1974  19.305  1.131  0.2664  5.729  9.508
15  1975  18.721  1.247  0.2301  5.722  9.062

In [ ]:
data1.to_csv('test1.csv' , index= False )

In [ ]:
data1.to_excel("test2.xlsx")

In [ ]:
data1.head()

      a      b      c       d      e      f
0  1960  5.554  0.441  0.3193  3.089  1.481
1  1961  5.465  0.460  0.3079  3.122  1.736
2  1962  5.825  0.485  0.3783  3.184  1.926
3  1963  6.876  0.506  0.4180  3.263  2.041
4  1964  7.823  0.538  0.5163  3.412  1.997

In [ ]:
data1.tail()

       a       b      c       d      e      f
11  1971  15.876  0.906  0.2023  5.334  8.673
12  1972  16.662  1.000  0.2506  5.345  8.331
13  1973  17.014  1.056  0.2668  5.662  8.557
14  1974  19.305  1.131  0.2664  5.729  9.508
15  1975  18.721  1.247  0.2301  5.722  9.062

In [ ]:
type(data1)

pandas.core.frame.DataFrame

In [ ]:
type(data)

pandas.core.frame.DataFrame

In [ ]:
data1.columns

Index(['a', 'b', 'c', 'd', 'e', 'f'], dtype='object')

In [ ]:
list(data1.columns)

['a', 'b', 'c', 'd', 'e', 'f']

In [ ]:
data1[['b', 'c']]

         b      c
0    5.554  0.441
1    5.465  0.460
2    5.825  0.485
3    6.876  0.506
4    7.823  0.538
5    9.120  0.564
6   10.512  0.586
7   13.020  0.622
8   15.261  0.666
9   16.313  0.731
10  16.002  0.831
11  15.876  0.906
12  16.662  1.000
13  17.014  1.056
14  19.305  1.131
15  18.721  1.247

In [ ]:
pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
pd.read_csv("https://raw.githubusercontent.com/codeforamerica/ohana-api/master/data/sample-csv/addresses.csv")

,id,location_id,address_1,address_2,city,state_province,postal_code,country
0,1,1,2600 Middlefield Road,NaN,Redwood City,CA,94063,US
1,2,2,24 Second Avenue,NaN,San Mateo,CA,94401,US
2,3,3,24 Second Avenue,NaN,San Mateo,CA,94403,US
3,4,4,24 Second Avenue,NaN,San Mateo,CA,94401,US
4,5,5,24 Second Avenue,NaN,San Mateo,CA,94401,US
5,6,6,800 Middle Avenue,NaN,Menlo Park,CA,94025-9881,US
6,7,7,500 Arbor Road,NaN,Menlo Park,CA,94025,US
7,8,8,800 Middle Avenue,NaN,Menlo Park,CA,94025-9881,US
8,9,9,2510 Middlefield Road,NaN,Redwood City,CA,94063,US
9,10,10,1044 Middlefield Road,NaN,Redwood City,CA,94063,US
10,11,11,2140 Euclid Avenue.,NaN,Redwood City,CA,94061,US
11,12,12,1044 Middlefield Road,2nd Floor,Redwood City,CA,94063,US
12,13,13,399 Marine Parkway.,NaN,Redwood City,CA,94065,US
13,14,14,660 Veterans Blvd.,NaN,Redwood City,CA,94063,US
14,15,15,1500 Valencia Street,NaN,San Francisco,CA,94110,US
15,16,16,1161 South Bernardo,NaN,Sunnyvale,CA,94087,US
16,17,17,409 South Spruce Avenue,NaN,South San Francisco,CA,94080,US
17,18,18,114 Fifth Avenue,NaN,Redwood City,CA,94063,US
18,19,19,19 West 39th Avenue,NaN,San Mateo,CA,94403,US
19,20,21,123 El Camino Real,NaN,Belmont,CA,94002,US
20,21,22,2013 Avenue of the fellows,Suite 100,San Francisco,CA,94103,US

In [ ]:
pd.read_csv("https://raw.githubusercontent.com/codeforamerica/ohana-api/master/data/sample-csv/phones.csv")

,id,contact_id,location_id,organization_id,service_id,country_prefix,department,extension,number,number_type,vanity_number
0,1,NaN,1.0,NaN,NaN,NaN,NaN,NaN,650 780-7525,voice,NaN
1,2,NaN,1.0,NaN,NaN,NaN,NaN,NaN,650 701-0856,fax,NaN
2,3,NaN,2.0,NaN,NaN,NaN,NaN,4385.0,650 403-4300,voice,NaN
3,4,NaN,2.0,NaN,NaN,NaN,NaN,NaN,650 403-4302,fax,NaN
4,5,NaN,3.0,NaN,NaN,NaN,English,NaN,650 403-4300,voice,NaN
5,6,NaN,3.0,NaN,NaN,NaN,NaN,NaN,650 403-4303,fax,NaN
6,7,NaN,4.0,NaN,NaN,NaN,NaN,4500.0,650 403-4300,voice,NaN
7,8,NaN,4.0,NaN,NaN,NaN,NaN,NaN,650 403-4303,fax,NaN
8,9,NaN,5.0,NaN,NaN,NaN,NaN,4100.0,650 403-4300,voice,NaN
9,10,NaN,5.0,NaN,NaN,NaN,NaN,NaN,650 403-4303,fax,NaN
10,11,NaN,6.0,NaN,NaN,NaN,NaN,NaN,650 326-2025,voice,NaN
11,12,NaN,6.0,NaN,NaN,NaN,NaN,NaN,650 326-9547,fax,NaN
12,13,NaN,7.0,NaN,NaN,NaN,NaN,NaN,650 322-0126,voice,NaN
13,14,NaN,7.0,NaN,NaN,NaN,NaN,NaN,650 322-4067,fax,NaN
14,15,NaN,8.0,NaN,NaN,NaN,NaN,NaN,650 323-2022,voice,NaN
15,16,NaN,8.0,NaN,NaN,NaN,NaN,NaN,650 326-9547,fax,NaN
16,17,NaN,9.0,NaN,NaN,NaN,NaN,NaN,650 780-7261,voice,NaN
17,18,NaN,9.0,NaN,NaN,NaN,NaN,NaN,650 569-3371,fax,NaN
18,19,NaN,10.0,NaN,NaN,NaN,Circulation,NaN,650 780-7018,voice,NaN
19,20,NaN,10.0,NaN,NaN,NaN,NaN,NaN,650 780-7069,fax,NaN
20,21,NaN,11.0,NaN,NaN,NaN,NaN,NaN,650 780-7010,voice,NaN
21,23,NaN,12.0,NaN,NaN,NaN,NaN,NaN,650 780-7077,voice,NaN
22,24,NaN,12.0,NaN,NaN,NaN,NaN,NaN,650 780-7004,fax,NaN
23,25,NaN,13.0,NaN,NaN,NaN,NaN,NaN,650 780-5740,voice,NaN
24,26,NaN,14.0,NaN,NaN,NaN,NaN,NaN,650 368-4643,voice,NaN
25,27,NaN,14.0,NaN,NaN,NaN,NaN,NaN,650 364-1712,fax,NaN
26,28,NaN,15.0,NaN,NaN,NaN,NaN,NaN,415 643-8000,voice,NaN
27,29,NaN,15.0,NaN,NaN,NaN,NaN,NaN,415 285-1391,fax,NaN
28,30,NaN,16.0,NaN,NaN,NaN,NaN,NaN,408 720-0420,voice,NaN
29,31,NaN,16.0,NaN,NaN,NaN,NaN,NaN,408 720-8075,fax,NaN
30,32,NaN,17.0,NaN,NaN,NaN,NaN,NaN,650 266-4591,voice,NaN
31,33,NaN,17.0,NaN,NaN,NaN,NaN,NaN,650 266-2594,fax,NaN
32,34,NaN,17.0,NaN,NaN,NaN,NaN,NaN,650 266-4594,fax,NaN
33,35,NaN,18.0,NaN,NaN,NaN,NaN,NaN,650 839-1447,voice,NaN
34,36,NaN,18.0,NaN,NaN,NaN,NaN,NaN,650 839-1457,fax,NaN
35,37,NaN,19.0,NaN,NaN,NaN,NaN,NaN,650 578-0400,voice,NaN
36,38,NaN,19.0,NaN,NaN,NaN,NaN,NaN,650 578-0440,fax,NaN
37,39,NaN,21.0,NaN,NaN,NaN,CalFresh,1223.0,7035551212,voice,703-555-ABCD
38,40,NaN,21.0,NaN,NaN,NaN,CalFresh,NaN,2025551212,fax,NaN
39,41,29.0,NaN,NaN,NaN,1.0,Referrals,1200.0,123-456-7890,voice,NaN
40,42,29.0,NaN,NaN,NaN,1.0,Referrals,NaN,202-555-1212,fax,NaN
41,43,NaN,22.0,NaN,NaN,NaN,Information,123.0,650 372-6200,voice,222-555-INFO
42,44,NaN,22.0,NaN,NaN,NaN,Reservations,NaN,650 627-8244,fax,NaN
43,45,NaN,22.0,NaN,NaN,NaN,Hotline,NaN,800 372-6200,hotline,NaN
44,46,NaN,22.0,NaN,NaN,NaN,Rental Assistance,202.0,650 372-6200,tty,NaN
45,52,36.0,NaN,NaN,NaN,NaN,CalFresh Applications,123.0,703-555-1212,voice,NaN
46,53,NaN,NaN,8.0,NaN,NaN,Operations,101.0,123-456-7890,voice,NaN
47,54,32.0,NaN,NaN,NaN,NaN,Operations,NaN,703-444-1234,fax,NaN
48,55,32.0,NaN,NaN,NaN,NaN,Operations,101.0,650-555-1212,voice,NaN
49,56,NaN,11.0,NaN,NaN,NaN,NaN,NaN,650 365-3738,fax,NaN
50,57,NaN,NaN,NaN,22.0,NaN,Passport Photos,123.0,123-456-7890,voice,NaN
51,58,NaN,NaN,NaN,22.0,NaN,Passport Photos Fax,NaN,789-456-1230,fax,NaN
52,59,NaN,NaN,NaN,22.0,NaN,Passport Help via SMS,NaN,650-222-5555,sms,NaN
53,60,29.0,NaN,NaN,NaN,NaN,NaN,NaN,650-555-1212,sms,NaN

In [ ]:
import pandas as pd 
data2 = pd.read_html("https://www.basketball-reference.com/leagues/NBA_2015_totals.html")

In [ ]:
!pip install lxml

Collecting lxml
  Downloading lxml-4.9.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (7.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.1/7.1 MB 42.8 MB/s eta 0:00:0000:0100:01
Installing collected packages: lxml
Successfully installed lxml-4.9.2

In [ ]:
data2

[      Rk          Player Pos Age   Tm   G  GS    MP   FG  FGA  ...   FT%  ORB  \
 0      1      Quincy Acy  PF  24  NYK  68  22  1287  152  331  ...  .784   79
 1      2    Jordan Adams  SG  20  MEM  30   0   248   35   86  ...  .609    9
 2      3    Steven Adams   C  21  OKC  70  67  1771  217  399  ...  .502  199
 3      4     Jeff Adrien  PF  28  MIN  17   0   215   19   44  ...  .579   23
 4      5   Arron Afflalo  SG  29  TOT  78  72  2502  375  884  ...  .843   27
 ..   ...             ...  ..  ..  ...  ..  ..   ...  ...  ...  ...   ...  ...
 670  490  Thaddeus Young  PF  26  TOT  76  68  2434  451  968  ...  .655  127
 671  490  Thaddeus Young  PF  26  MIN  48  48  1605  289  641  ...  .682   75
 672  490  Thaddeus Young  PF  26  BRK  28  20   829  162  327  ...  .606   52
 673  491     Cody Zeller   C  22  CHO  62  45  1487  172  373  ...  .774   97
 674  492    Tyler Zeller   C  25  BOS  82  59  1731  340  619  ...  .823  146

      DRB  TRB  AST  STL BLK  TOV   PF   PTS
 0    222  301   68   27  22   60  147   398
 1     19   28   16   16   7   14   24    94
 2    324  523   66   38  86   99  222   537
 3     54   77   15    4   9    9   30    60
 4    220  247  129   41   7  116  167  1035
 ..   ...  ...  ...  ...  ..  ...  ...   ...
 670  284  411  173  124  25  117  171  1071
 671  170  245  135   86  17   75  115   685
 672  114  166   38   38   8   42   56   386
 673  265  362  100   34  49   62  156   472
 674  319  465  113   18  52   76  205   833

 [675 rows x 30 columns]]

In [ ]:
type(data2)

list

In [ ]:
len(data2)

1

In [ ]:
data2[0]

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Quincy Acy,PF,24,NYK,68,22,1287,152,331,...,.784,79,222,301,68,27,22,60,147,398
1,2,Jordan Adams,SG,20,MEM,30,0,248,35,86,...,.609,9,19,28,16,16,7,14,24,94
2,3,Steven Adams,C,21,OKC,70,67,1771,217,399,...,.502,199,324,523,66,38,86,99,222,537
3,4,Jeff Adrien,PF,28,MIN,17,0,215,19,44,...,.579,23,54,77,15,4,9,9,30,60
4,5,Arron Afflalo,SG,29,TOT,78,72,2502,375,884,...,.843,27,220,247,129,41,7,116,167,1035
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,490,Thaddeus Young,PF,26,TOT,76,68,2434,451,968,...,.655,127,284,411,173,124,25,117,171,1071
671,490,Thaddeus Young,PF,26,MIN,48,48,1605,289,641,...,.682,75,170,245,135,86,17,75,115,685
672,490,Thaddeus Young,PF,26,BRK,28,20,829,162,327,...,.606,52,114,166,38,38,8,42,56,386
673,491,Cody Zeller,C,22,CHO,62,45,1487,172,373,...,.774,97,265,362,100,34,49,62,156,472
674,492,Tyler Zeller,C,25,BOS,82,59,1731,340,619,...,.823,146,319,465,113,18,52,76,205,833

In [ ]:
data2[0].to_csv("players.csv")